.todoList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
    padding: 0;

    li {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        button {
            margin-left: auto;
        }
    }
}