.todoList {
    margin: 20px;

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin: 0 0 20px 0;
        padding: 0;

        li {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;

            button {
                margin-left: auto;
            }
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;

    button {
        cursor: pointer;
    }
}