body {
    background: #000;
    color: #fff;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 20px 0;
}

button {
    cursor: pointer;
}


.app {
    padding: 30px;
}

.addTodoList {
    display: inline-flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.todoLists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}